

.skils-block {
  height: 200;
  background: "#EEE";
  span {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
    color: $mainColor;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
  }
  svg {
    color: $decoration;
    height: 44px;
  }
}
