
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


$fontfamily: "Playfair Display";
$fontfamily2: "Poppins";

$minViewportWidth: 320;
$maxViewportWidth: 1280; // for adaptive fs

$decoration: #f56565;
$mainColor: #292929;
$textColor: #999999;
$bgColor: #fbfbfb;

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

@import 'about.scss';
@import 'contact-form.scss';
@import 'main-screen.scss';
@import 'nav-bar.scss';
@import 'portfolio.scss';
@import 'footer.scss';
@import 'social-list.scss';
@import  'nullstyle.scss';
@import 'journal.scss';
@import 'post'

