
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$decoration: #f56565;
$mainColor: #292929;
$textColor: #999999;

body{
  font-family: 'Playfair Display', serif;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

@import 'about.scss';
@import 'contact-form.scss';
@import 'main-screen.scss';
@import 'nav-bar.scss';
@import 'portfolio.scss';
@import 'footer.scss';


